.App {
  font-family: "Roboto", sans-serif;
}

.main-heading {
  text-transform: uppercase;
  text-align: center;
}

.card {
  display: flex;
  background-color: #ecf0f1;
  margin: 0;
  padding: 1em 2em 1em 0;
}

.card .left {
  display: flex;
  min-width: 8em;
  justify-content: center;
  align-items: flex-start;
}

.card .left .index-number {
  font-size: 5em;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.card .right {
}

h1,
h2,
h3 {
  margin: 0 0 5px 0;
}
